<div class="row" ng-init="getExpenses()">
  <div class="col-3">
    <form name="sheetForm" ng-submit="addExpense()" novalidate>
      <h5 class="text-center title">Add Expense:</h5>
      <input name="budget" type="number" ng-model="amount" required placeholder="What's Today's Budget?" ng-required="true">
      <div class="center">
        <button name="submit" ng-disabled="sheetForm.$invalid" class="add-btn">Add Budget Sheet</button>
      </div>
    </form>
  </div>
  <div class="col-9">    
    <h1 class="text-center">{{budget | currency}}</h1>
  </div>
</div>
