<div class="row" ng-init="getSheets()">
  <div class="col-3"></div>
  <div class="col-6">
    <div ng-repeat="sheet in sheets | filter:currentId">
      <h1 class="text-center" editable-text="sheet.budget" onaftersave="updateSheet()" e-required>${{sheet.budget}}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3"></div>
  <div class="col-6 text-center">
    <button ui-sref="home"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Go Back To All Budget Sheets</button>
  </div>
  <div class="col-3"></div>
</div>
