<div class="row" ng-init="getSheets()">
  <div class="col-3"></div>
  <div class="col-6">
    <div ng-repeat="sheet in sheets | filter:currentId">
      <h1 class="text-center" editable-text="sheet.budget - sheet.expenses" onaftersave="updateSheet()" e-required>{{sheet.budget - sheet.expenses | currency}}</h1>
      {{sheet.expenses}}
      <form name="expenseForm" ng-submit="addExpense($index, exp)">
        <input type="number" ng-model="exp">
        <span><button>Add Expense</button></span>
      </form>
    </div>
  </div>
</div>
